[Desktop Entry]
Version=1.0
Type=Application
Name=Minima Netspeed
Comment=
Exec=/bin/python3 netspeed.py
Icon=Minimalist.png
Path=
Terminal=false
StartupNotify=false
